
#container {
    width: 80%;
    margin: 100px auto;
    height: 500px;
}

#c {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    width: 100%;
    height: 300px;
    
}

#v {
    
    width: 100%;
    height: 500px;
}